<h2>Stock Prices</h2>
<table class="stock-grid">
  <thead>
    <tr>
      <th>Company</th>
      <th>Symbol</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks">
      <td>{{ stock.companyName }}</td>
      <td>{{ stock.symbol }}</td>
      <td style="position: relative;">
        <!-- Display current price -->
        <span class ='current-price' [ngClass]="{
          'price-up': isPriceUp(stock),
          'price-down': isPriceDown(stock)
        }">{{ stock.price | currency }}</span>
        <br />
        <!-- Display yesterday's price with smaller text -->
        <small class="previous-price">
          Yesterday: {{ stock.previousPrice | currency }}
        </small>
        <img src="assets/info_icon.webp" alt="Info Icon" class="info-icon" (click)="togglePopup(stock.symbol)" />
        <!-- Pop-Up Window -->
        <div *ngIf="showPopup && currentSymbol == stock.symbol" class="popup">
          <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            <div [innerHTML]="popupContent"></div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


